

{% extends 'app/base.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}

{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h3 class="my-4 text-center">Welcome {{ request.user.username | capfirst }}</h3>
        <div class="col-sm-3 border-end">
            <ul class="list-unstyled">
                <li class="d-grid mb-2">
                    <a href="{% url 'passwordchange' %}" class="btn btn-primary">Change Password</a>
                </li>
               
            </ul>
        </div>
        <div class="col-sm-9" style="margin-left: 300px; ">
            <form action="" method="post" novalidate class="shadow p-5 bg-light rounded">
                {% csrf_token %}
                <h4 class="mb-4">Change Password</h4>
                {% for fm in form %}
                    <div class="mb-3">
                        {{ fm.label_tag }}
                        {{ fm }}
                        <small class="text-danger">{{ fm.errors|striptags }}</small>
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary" style="background-color: #088178;">Submit</button>

                {% if form.non_field_errors %}
                    <div class="alert alert-danger my-3">
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock main-content %}
