<!-- password_reset_confirm.html -->
{% extends 'app/base.html' %}
{% block title %}Reset Your Password{% endblock %}

{% block main-content %}
    <div class="container">
        <div class="row my-3">
            <div class="col-sm-6 offset-sm-3">
                <h3>Reset Your Password</h3>
                <hr>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Reset Password" class="custom-btn">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
